
.burger__menu{
    visibility: hidden;
    display: none;
        
    @media (max-width: 768px) {
        position: relative;
        display: block;
        visibility: visible;
        width: 3em;
        height: 2.6em;
        border: none;
        background: none;
        
        &-span{
            position: absolute;
            left: 0;
            height: 5px;
            width:  100%;
            background-color: $black;
            border-radius: 10px;
            visibility: visible;
            transition: .3s ease-in-out;

            @for $i from 1 through 3 {
                &:nth-child(n + #{$i}) {
                    top: ($i - 1 )* 40%;
                }
            }

        }

        &-active{
            z-index: 11;
            .burger__menu-span:nth-child(2){
                top: 50%;
                transform: rotate(45deg);
            
            }
            .burger__menu-span:nth-child(1){
                top: 50%;
                transform: rotate(-45deg);
             
            }
            .burger__menu-span:nth-child(3){
                opacity: 0;
                visibility: hidden;
            }
        }
    }

} 
